<h1>list of Tag</h1>
<% @tag.each do |tag| %>
    <ul id="list-tag">
      <li><%= link_to tag.name, tag_path(tag) %> </li>
    </ul>
<% end %>
<% if logged_in? %>
    <%= link_to 'create a new Tag', new_tag_path %> <br>
<% end %>
<%= link_to 'Return to the  article list', articles_path %> <br>

